@import 'bourbon'; // http://bourbon.io/

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

/* --------------------------------

Variables

-------------------------------- */

// Portfolio colors

$color-1: rgb(10, 114, 175); // Cornflower Blue
$color-2: rgb(10, 175, 154); // Opal Green
$color-3: rgb(255, 255, 255); // White
$color-4: rgb(41, 56, 66); // Steel
$color-5: rgb(41, 56, 116); // Blue

// Project colors

$color-7: rgb(246, 139, 32); // Brilliant Orange (CloudFlare)
$color-8: rgb(60, 60, 60); // Black (Sacramento)
$color-9: rgb(211, 81, 0); // Orange (Ender)

// fonts

$primary-font: "proxima-nova-1","proxima-nova-2",'Open Sans', sans-serif;


/* --------------------------------

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	width: 100%;
	height: 100%;
}

body {

	width: 100%;
	height: 100%;
	font: {
		size: 1.6rem;
		family: $primary-font;
	}

	color: $color-1;
	@include font-smoothing;

}

a {
	text-decoration: none;

	&:hover {
		color: $color-2;
	}

	&:active {
		color: white;
	}
}

a.text-link {
	color: white;
	text-decoration: none;
	border-bottom: 1px solid white;
	white-space: nowrap;
	@include transition(all .1s linear);

	&:hover {
		background-color: white;
		color: $color-2;
	}
	&:active {
		background-color: $color-1;
		color: white;
	}
}

h1 {
	color: white;
	margin: 2em auto 1em auto;
	font-size: 3rem;
	font-weight: 300;

	@include MQ(M) {
		font-size: 7rem;
		margin: 1em auto;
	}
}

h2 {
	color: white;
	margin: 3em auto 2em auto;
	font-size: 3rem;
	font-weight: 300;

	@include MQ(M) {
		font-size: 3rem;
		margin: 1em auto;
	}
}

/* --------------------------------

Patterns

-------------------------------- */

.menu {

	margin: 40px auto;

	@include MQ(M) {
		position: fixed;
		left: 45px;
		top: 45px;
		margin: 0;
	}
}

.icon {
	width: 30px;
	fill: white;
	@include transition(all .1s linear);
	-webkit-transform: translate3d(0,0,0);

	&:hover {
		animation: bounce 0.3s;
	}
}

@keyframes bounce {

  0% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

/* --------------------------------

Navigation

-------------------------------- */

.nav {
	color: white;
	padding: 20px;
	margin: 20px;
	z-index: 999;
	@include transition(all .1s linear);
	display: block;
	background-color: $color-1;

	&:hover {
		color: darken($color-1, 20%);
	}

	&:active {
		color: black;
	}
}

@include MQ(M) {

	.nav {
		position: fixed;
		padding: 10px;
		bottom: auto;

		&.prev {
			left: 0px;
			top: 50%;
			margin: -10px 20px 20px 0px;

			&:hover {

				&:after {
					content: ' Previous';
				}
			}
		}

		&.next {
			right: 0px;
			top: 50%;
			margin: -10px 0px 20px 20px;

			&:hover {

				&:before {
					content: 'Next ';
				}
			}
		}
	}

	.nav.back {
		display: block;
	}
}

/* --------------------------------

Layout

-------------------------------- */

main {

	padding: 10px;
	text-align: center;

	.main-content {
		position: relative;

		> div {
			height: 100%;
			width: 100%;
			overflow: hidden;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}

		&.index {
			/* .main-content basic style - index page */
			background-size: cover;
			background-position: bottom right;
			background-image: url('../img/background.jpg');
			background-repeat: no-repeat;
			/* vertically center its content */
			display: table;
			width: 100%;

			> div {
				/* vertically center the content inside the .index */
				display: table-cell;
				vertical-align: middle;
    			@include background-image(linear-gradient(top, rgba($color-1, .85) 0%, rgba($color-2, .95)));
			}
		}

		&.work {
			/* .main-content basic style - work page */
			background-color: white;

		}

		&.about {
			/* .main-content basic style - about page */
			display: table;
			width: 100%;
			background-size: cover;
			background-position: left center;
			background-image: url('../img/kevin.jpg');
			background-repeat: no-repeat;

			> div {
    			@include background-image(linear-gradient(top, rgba($color-1, .85) 0%, rgba($color-2, .95)));
			}
		}
	}

	p {
		width: 80%;
		max-width: $M;
		margin: 1em auto;
		font-size: 1.8rem;
		line-height: 1.6;
		color: white;
		text-align: left;
	}

	@include MQ(M) {
		height: 100vh;
		padding: 10px;

		.main-content {
			height: calc(100vh - 20px);
		}

		&.index > div {
			padding-top: 200px;
		}

		&.index > div {
			padding-top: 50px;
		}

		p {
			font-size: 3rem;
			line-height: 2;
		}
	}
}

/* --------------------------------

About pages

-------------------------------- */

.about {

	p {
		font-size: 1.6rem;
		line-height: 1.75em;
		max-width: 460px;
	}

	@include MQ(M) {

		p {
			font-size: 1.6rem;
		}
	}
}

/* --------------------------------

Work

-------------------------------- */

.work {

	h1 {
		color: $color-2;
	}

	.grid {
		padding: 20px;
		max-width: 1120px;
		margin: 0 auto;
		display: block;

		a {
			text-decoration: none;
			background-color: transparent;
			line-height: 0;
		}

		.item {
			width: 100%;
			float: none;
			margin: 10px auto;
			display: inline-block;
			position: relative;

			.thumb-hover {
				display: none;
			}

			.projectname-hover {
				display: none;
				width: 100%;
				height: 100%;
				position: absolute;
				color: white;
				font-size: 1em;
				font-weight: 300;
				left: 0;
				top: 0;
				justify-content: center;
				align-items: center;
			}

			img {
				width: 100%;
				height: 100%;

			}

			@include MQ(M) {

				&:hover {

					.thumb {
						display: none;
					}

					.thumb-hover {
						display: inline;
					}

					.projectname-hover {
						display: flex;
					}
				}

				.projectname-hover {
					width: 100%;
					height: 100%;
					font-size: 1em;
				}
			}

			@include MQ(L) {

				.projectname-hover {
					font-size: 2em;
				}
			}
		}

		@include MQ(M) {

			.item {
				width: calc(50% - 40px);
				float: left;
				margin: 20px;

				img {
					width: 100%;
				}
			}
		}

		@include MQ(L) {

			.item {
				width: calc(50% - 40px);
				float: left;
				margin: 20px;

				img {
					width: 100%;
				}
			}
		}
	}

	@include MQ(L) {

		.grid {
			max-width: 1360px;
		}
	}
}

/* --------------------------------

Work pages

-------------------------------- */

.work-page {

	.description {
		color: black;
		font-size: 1em;
		margin: 30px auto 0px auto;
	}

	.fullwidth {
		width: 100%;
		margin: 10px auto;

		@include MQ(M) {

			padding: 20px;
			margin: 0;

			.grid {
					max-width: 1360px;
				}
		}
	}

	@include MQ(L) {

		.grid {
			max-width: 1200px;

			.item {
				width: calc(50% - 40px);
				float: left;
				margin: 20px;

				img {
					width: 100%;
				}
			}
		}
	}
}

/* --------------------------------

Work page colors

-------------------------------- */

// Work home
.work-home, .work-page {
	background-color: $color-2;

	.main-content.work h1 {
		color: $color-2;
	}

	.icon {
		fill: $color-2;

		&:hover {
			fill: $color-1;
		}
	}
}

.projectname-hover {
	background-color: rgba($color-1, .90);
}
