// Portfolio colors

$color-1: rgb(10, 114, 175); // Cornflower Blue
$color-2: rgb(10, 175, 154); // Opal Green
$color-3: rgb(255, 255, 255); // white
$color-4: rgb(41, 56, 66); // Steel
$color-5: rgb(41, 56, 116); // Blue

// Project colors

$color-6: rgb(193, 42, 108); // Purpleish (Ericka)
$color-7: rgb(246, 139, 32); // Brilliant Orange (CloudFlare)
$color-8: rgb(60, 60, 60); // Black (Sacramento)

// fonts

$primary-font: 'Proxima Nova Condensed', 'Open Sans', sans-serif;
